*{
    margin: 0;
    padding: 0;
}

div{
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    background-color: gray;
    font-size: 4.4em;
    font-weight: 100;
}